<div class ="container">
	<div class ="row">
		<div class ="col-md-6 col-md-offset-3">
			<h1>User info</h1>
			<%= form_for(@user) do |f| %>
				<!-- エラーメッセージ表示-->
				<% if @user.errors.any? %>
					<div id="error_explanation">
						<h3><%= @user.errors.count %>error prohibited this obj from being saved:</h3>
						<ul>
							<% @user.errors.full_messages.each do |message| %>
							<li><%= message %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<!-- エラーメッセージ表示-->
				<div class="row field">
					<%= f.label :image %>
					<%= f.attachment_field :profile_image, class: "user_image col-xs-12" %>
				</div>
				<div class="row field">
					<%= f.label :name %>
					<%= f.text_field :name, class: "name col-xs-12" %>
			 	</div>
				<div class="row field">
					<%= f.label :introduction %>
					<%= f.text_area :introduction, class: "introduction col-xs-12" %>
				</div>

				<div class="row actions">
					<%= f.submit 'Update User', class:  "col-xs-12" %>
				</div>
			<% end %>
		</div>
	</div>
</div>
